.container {
  height: 20em;
  width: 20em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-container {
  transform: rotate(-2deg);
  transform-origin: 0 100%;
  animation: nod 5s ease-in-out infinite;
}

@keyframes nod {
  50% {
    transform: rotate(0deg);
  }
}

.nomnom-face {
  height: 20em;
  width: 40em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;

  border: 0.5em solid #222;
  border-radius: 0.5em;

  box-shadow: 0 0 0 0.3em #000, 0 0 2em rgb(255, 255, 255),
    inset 0 0 0.3em rgb(255, 255, 255), 0 0.6em 1em rgba(0, 0, 0, 0.5);

  image-rendering: pixelated;
  outline: 0.15em solid #333;
  backdrop-filter: blur(2px);
}

.nomnom-face::before {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  width: 3%;
  height: 3%;
  background-color: #a55;
  border-radius: 50%;
  box-shadow: 0.75em 0 0 #aa9, 1.5em 0 0 #5a7;
  opacity: 0.6;
  filter: brightness(0.9);
}

.eye-l,
.eye-r {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  top: 25%;
  height: 8em;
  width: 8em;
}

.eye-l {
  left: 27%;
}

.eye-r {
  left: 53%;
}

.mouth {
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 8em;
  width: 8em;
}

.blush {
  position: absolute;
  pointer-events: none;
  height: 55em;
  width: 55em;
}

@media (max-width: 1024px) {
  .container {
    top: 45%;
  }
  .nomnom-face {
    width: 80vw;
    height: 40vw;
  }
  .eye-l,
  .eye-r,
  .mouth {
    width: 16vw;
    height: 16vw;
  }
  .blush {
    width: 110vw;
    height: 110vw;
  }
}

@media (max-width: 768px) {
  .container {
    top: 55%;
  }
  .nomnom-face {
    width: 90vw;
    height: 45vw;
  }
  .eye-l,
  .eye-r,
  .mouth {
    width: 18vw;
    height: 18vw;
  }
  .blush {
    width: 120vw;
    height: 120vw;
  }
}

@media (max-width: 640px) {
  .container {
    top: 60%;
  }
  .nomnom-face {
    width: 95vw;
    height: 50vw;
  }
  .eye-l,
  .eye-r,
  .mouth {
    width: 20vw;
    height: 20vw;
  }
  .blush {
    width: 130vw;
    height: 130vw;
  }
}
