.container {
  height: 20em;
  width: 20em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-container {
  transform: rotate(-2deg);
  transform-origin: 0 100%;
  animation: nod 5s ease-in-out infinite;
}

@keyframes nod {
  50% {
    transform: rotate(0deg);
  }
}

.nomnom-face {
  height: 20em;
  width: 40em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;

  border: 8px solid #222;
  border-radius: 0.5em;

  box-shadow: 0 0 0 4px #000, 0 0 30px rgb(255, 255, 255),
    inset 0 0 5px rgb(255, 255, 255), 0 10px 20px rgba(0, 0, 0, 0.5);

  image-rendering: pixelated;
  outline: 2px solid #333;
  backdrop-filter: blur(2px);
}

.nomnom-face::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.75em;
  height: 0.75em;
  background-color: #a55;
  border-radius: 50%;
  box-shadow: 1.25em 0 0 #aa9, 2.5em 0 0 #5a7;
  opacity: 0.6;
  filter: brightness(0.9);
}

.eye-l,
.eye-r {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  top: 25%;
  height: 8em;
  width: 8em;
}

.eye-l {
  left: 27%;
}

.eye-r {
  left: 53%;
}

.mouth {
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 8em;
  width: 8em;
}

.blush {
  position: absolute;
  pointer-events: none;
  height: 55em;
  width: 55em;
}
