.login-section {
  margin-top: 350px;
  padding: 60px 20px;
  text-align: center;
}

.signup-section {
  margin-top: 280px;
  padding: 60px 20px;
  text-align: center;
}

.login-container {
  border: none;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 60px 50px 60px;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  position: absolute;
  bottom: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-input {
  width: 100%;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 16px;
  outline: none;
}

.login-input:focus {
  outline: none;
  border-color: #b85555;
}

.sign-in,
.sign-out {
  width: 100%;
  background-color: #b85555;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #b85555;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
}

.sign-in:hover,
.sign-out:hover {
  background-color: #a23838;
  border: 2px solid #a23838;
}

.sign-up {
  font-size: 9px;
  font-family: inherit;
  margin-top: 15px;
}

.link {
  cursor: pointer;
  font-style: italic;
  color: #007bff;
  text-decoration: underline;
}

.link:hover {
  color: #0056b3;
}

.google-login-button iframe {
  width: 100% !important;
  max-width: 100%;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
}

.success-message {
  color: rgb(60, 211, 60);
  font-size: 14px;
  text-align: center;
  padding-top: 30px;
}
