.s-main {
  position: fixed;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background: #f8f8f8;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.s-container {
  height: 30em;
  width: 35em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face-container {
  transform: rotate(-2deg);
  transform-origin: 0 100%;
  animation: nod 5s ease-in-out infinite;
}

@keyframes nod {
  50% {
    transform: rotate(0deg);
  }
}

/* NomNom Face */
.sleepy-nomnom-face {
  height: 50em;
  width: 50em;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center; /* Center eyes and mouth inside face */
  align-items: center; /* Center eyes and mouth inside face */
}
.s-eye-l,
.s-eye-r {
  position: absolute;
  background-color: #222;
  height: 0.5em;
  width: 4.12em;
  /* height: 2.25em;
  width: 4.12em;
  border-radius: 0 0 2.93em 2.93em; */
  top: 50%; /* Position from the top */
  transform: translateY(-50%);
}
.s-eye-l {
  left: 35%; /* Move the left eye slightly to the left */
}

.s-eye-r {
  left: 55%; /* Move the right eye slightly to the right */
}

/* .eye-l::after,
.eye-r::after {
  content: "";
  position: absolute;
  background-color: #222;
  height: 1.81em;
  width: 3.25em;
  border-radius: 0 0 1.93em 1.93em;
  left: 0.43em;
} */
/* .blush {
  height: 4em;
  width: 4em;
  background-color: lightpink;
  border-radius: 50%;
  position: absolute;
  left: 2.1em;
  top: 8em;
  box-shadow: 13.3em 0 lightpink;
} */

.s-mouth {
  height: 1.7em;
  width: 1.45em;
  background-color: #222;
  border-radius: 50%;
  position: absolute;
  left: 24em;
  top: 26em;
  animation: snoore 5s infinite;
}

@keyframes snoore {
  50% {
    transform: scale(0.7);
  }
}

.s-container span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #222;
  position: absolute;
  opacity: 0;
  animation: zsnore 9s infinite linear forwards;
}

@keyframes zsnore {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    transform: rotate(10deg) translateY(0);
    opacity: 1;
  }
  100% {
    transform: rotate(10deg) translateY(-7em);
    opacity: 0.2;
  }
}

.s-container .z-1 {
  top: 5.5em;
  left: 2.5em;
  animation-delay: 7s;
}

.s-container .z-2 {
  top: 7em;
  left: 1.5em;
  animation-delay: 1s;
}

.s-container .z-3 {
  top: 5em;
  left: 4em;
}

.start-button {
  width: 400px;
  height: 100px;
  background-color: #b85555;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 479px) {
  .start-button {
    font-size: 21px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .start-button {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .start-button {
    font-size: 25px;
  }
}
