.navbar {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;

  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar_heading {
  display: flex;
  align-items: center;
}

.navbar_title {
  margin-left: 1em;
  background: radial-gradient(
    circle,
    rgb(255, 186, 161),
    rgb(255, 135, 83),
    rgb(253, 67, 42)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2em;
}

.navbar_heading_emote {
  position: relative;
  font-size: 3rem;
  height: 100px;
  left: 20px;
}

.navbar_emotes {
  font-size: 2rem;
  height: 40px;
}

.navbar_font {
  letter-spacing: 0.04em;
  line-height: 28px;
}

.navbar_links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar_links li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 1rem;
  cursor: pointer;
}

.navbar_links a {
  text-decoration: none;
  color: #222;
  z-index: 4;
}

.navbar_links a:hover {
  color: grey;
}

.navbar_login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar_login a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 50px;
  border: 1px solid #222;
  border-radius: 5px;
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
  color: white;
  background: #b85555;
}

.navbar_login a:hover {
  background: #a23838;
}

.navbar_login div {
  width: 50px;
}

.navbar_smallscreen {
  display: none;
}

.navbar_smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  transition: 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay_close {
  color: #222;
  font-size: 27px;
  cursor: pointer;

  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 5;
}

.overlay_open {
  font-size: 27px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
  color: #222;
  z-index: 5;
}

.navbar_smallscreen_links {
  list-style: none;
}

.navbar_smallscreen_links li {
  position: relative;
  bottom: 60px;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  padding-top: 50px;
}

.navbar_smallscreen_links li a {
  color: #222;
  text-decoration: none;
}

.navbar_smallscreen_links li:last-child a {
  color: #b85555;
}

.navbar_smallscreen_links li a:hover {
  color: grey;
  text-decoration: underline;
}

.navbar_smallscreen_links li:last-child a:hover {
  color: #a23838;
}

@media screen and (max-width: 1150px) {
  .navbar_links {
    display: none;
  }

  .navbar_login {
    display: none;
  }

  .navbar_smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }
}
